{% extends 'pos/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="">
        <table>
            <thead>
                <tr>
                    <th>TOTAL PRICE</th>
                    <th>SUCCESS</th>
                    <th>DATE TIME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}